/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scrolling for the entire page */
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}